body{
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    height: 100vh;
    width: 100%;
}

.container{
    color: black;
    background-color: darkgray;
    border-radius: 10px;
    opacity: 0.5%;
    margin-left: 45px;
    margin-right: 45px;
}

.testimonial2{
    float: left;
}
